.life {
  padding: 100px 200px 100px 150px;
}

.life p {
  margin: 35px 0;
  line-height: 26px;
  text-align: justify;
}
.life a {
  color: #08c;
}

@media only screen and (max-width: 1100px) {
  .life {
    padding: 7vw 7vw 77px 7vw;
  }
}

@media only screen and (max-width: 600px) {
  .life {
    padding: 3vw 3vw 77px 3vw;
  }
  .life p {
    text-align: unset;
    font-size: 17px;
  }
}