{
  "presets": ["@babel/preset-react"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "App": "./src/App",
        "useMenu": "./src/Menu/useMenu",
        "src": "./src"
      }
    }]
  ]
}
