{
  "presets": ["@babel/preset-react"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "App": "./src/App",
        "Icons": "./src/Icons",
        "src": "./src",
        "useMenu": "./src/Menu/useMenu"
      }
    }]
  ]
}
