.languages ul {
  padding-left: 20px;
  margin-bottom: 30px;
}

.language-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 280px;
  margin-bottom: 5px;
}

.language-item:first-of-type span:nth-of-type(2) {
  position: relative;
  left: 12px;
}